body {
    background-color: #111111;
}

#navigation {
   position: absolute;
}

#content {
    background-color: white;
    overflow: auto;
}

#artists {
   background-color: #C5E0F5;
}

h2 {
    text-align: center;
}

#current-artist {
   width: 80%;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
