body {
    background-color: #111111;
    margin: 0px auto;
    margin-bottom: 50px;
    width: 1000px;
}

.title {
    text-align: center;
    width: 100%;
}

.content {
    background-color: white;
    overflow: auto;
}

.artists {
    float: left;
    width: 30%;
}

.main {
    float: right;
    width: 70%;
}

h2 {
    text-align: center;
}

#current-artist {
    width: 100%;
}
