body {
    margin: 10px auto;
    width: 800px;
}

.title {
    text-align: center;
    width: 100%;
}

.artists {
    float: left;
    width: 25%;
}

.main {
    float: right;
    width: 75%;
}

h2 {
    text-align: center;
}
